@font-face {
    font-family: 'IsadoraCyrRegular';
    src: url('isadora_cur_regular.eot');
    src: url('isadora_cur_regular.eot') format('embedded-opentype'),
         url('isadora_cur_regular.woff2') format('woff2'),
         url('isadora_cur_regular.woff') format('woff'),
         url('isadora_cur_regular.ttf') format('truetype'),
         url('isadora_cur_regular.svg#IsadoraCyrRegular') format('svg');
}
